{% extends "base.html" %}
{% block content %}
<h1>新規ユーザー画面</h1>
<!-- エラーメッセージ部分 -->
<p style="color: red;">{{error_message}}</p>

<!-- ログインフォーム -->
<form method="post">
    <table border="1">
        <tr>
            <th>ユーザーID</th>
            <th>パスワード</th>
        </tr>
        <tr>
            <td>
                <input type="text" name="userid" value="{{userid}}">
            </td>
            <td>
                <input type="password" name="password" value="{{password}}">
            </td>
        </tr>
    </table>
    <input type="submit" value="ユーザー登録">
</form>

<a href="/login" role="button">ログイン画面へ戻る</a>
{% endblock %}